{{ define "discord.default.title" }}{{ .GroupLabels.alertname }}{{ end }}

{{ define "discord.default.message" }}
{{ range .Alerts }}
**{{ .Status | toUpper }}**: {{ .Annotations.summary }}
{{ if .Annotations.description }}
{{ .Annotations.description }}
{{ end }}
{{ if .Labels.severity }}
Severity: {{ .Labels.severity }}
{{ end }}
{{ end }}
{{ end }}

